<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Leave a Review</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, sans-serif;
        background: rgb(37, 37, 37);
        min-height: 100vh;
        padding: 20px;
      }

      .email-container {
        max-width: 600px;
        margin: 0 auto;
        /* background: #151515; */
        background: url("http://localhost:8080/uploads/images/email-templates-bg.png")
          no-repeat;
        background-size: 100%;
        padding: 50px;
        position: relative;
      }

      .header {
        text-align: center;
        margin-bottom: 50px;
      }

      .logo-icon {
        width: 24px;
        height: 24px;
        background: #8b5cf6;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 12px;
        font-weight: bold;
      }

      .header h1 {
        color: white;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 15px;
        margin-top: 10px;
      }

      .header p:nth-last-of-type(2) {
        color: white;
        font-size: 16px;
        font-weight: 500;
      }
      .header p {
        color: white;
        font-size: 16;
        font-weight: 500;
        margin-top: 10px;
        max-width: 470px;
        margin-left: auto;
        margin-right: auto;
      }

      .purchase-summary {
        padding: 16px;
        border-radius: 20px;
        margin-top: -60px;
      }

      .detail-row:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }

      .detail-row {
        display: table;
        width: 100%;
        /* border-top: 0.42px solid white24; */
        /* border-bottom: 0.42px solid white24; */
        padding-top: 15px;
      }

      .detail-label {
        color: white;
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        align-content: center;
        align-items: center;
      }

      .detail-value {
        color: white;
        font-size: 16px;
        font-weight: 600;
      }

      .total-row .detail-value {
        font-size: 18px;
        font-weight: 700;
      }

      .brand-text {
        color: #6366f1;
        font-size: 16px;
        font-weight: 700;
      }

      .footer {
        text-align: center;
        color: gray;
        font-size: 14px;
        margin: auto;
        margin-top: 50px;
        padding: 20px;
        border-top: 0.42px solid gray;
      }
      .logo {
        background-image: url(https://files.tfgsolutions.pk/public/uploads/emails/invader%20shop-03.png);
        width: 120px;
        height: 40px;
        margin: 0 auto;
      }

      @media (max-width: 480px) {
        .email-container {
          max-width: 100%;
          margin: 0;
        }

        .order-summary,
        .order-details,
        .thank-you-card {
          padding: 16px;
        }

        .header h1 {
          font-size: 28px;
        }
      }
    </style>
  </head>
  <body>
    <table class="email-container" width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <!-- <img
            src="https://files.tfgsolutions.pk/public/uploads/emails/el1.png"
            class="bg-image-1"
          />
          <img
            src="https://files.tfgsolutions.pk/public/uploads/emails/el2.png"
            class="bg-image-2"
          /> -->
          <table class="header" width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
                <div class="logo"></div>
                <h1
                  style="
                    font-weight: semibold;
                    margin-top: 30px;
                    line-height: 0.9;
                    margin-bottom: 20px;
                  "
                >
                  What do you think about the product(s)?
                </h1>
                <p style="color: white; font-weight: 400">
                  If you enjoyed your experience, we’d love for you to share it
                  and <strong>Leave a Review on</strong>
                </p>

                <table
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                  style="margin-top: 15px"
                >
                  <tr>
                    <td align="center" style="padding: 10px 0">
                      <a
                        href="#"
                        style="
                          display: inline-block;
                          width: 150px;
                          padding: 8px 10px;
                          border-radius: 44px;
                          background: #00b67a;
                          box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.25) inset,
                            0 2px 4px 0 rgba(0, 0, 0, 0.25) inset;
                          font-weight: bold;
                          text-align: center;
                          text-decoration: none;
                          color: #000;
                        "
                      >
                        <img
                          src="/uploads/images/trust-pilot.png"
                          alt="TrustPilot"
                          width="100"
                          style="
                            /* display: block; */
                            text-align: center;
                            justify-content: center;
                            border: 0;
                            outline: none;
                            text-decoration: none;
                          "
                        />
                      </a>
                    </td>
                  </tr>
                </table>
                
                <div style="width: 80%;height: 1px;background: gray; margin-top: 20px;">

                </div>
              </td>
            </tr>
          </table>

          <table
            class="purchase-summary"
            width="100%"
            cellpadding="0"
            cellspacing="0"
          >
            <tr class="detail-row">
              <td
                class="detail-label"
                style="align-items: center; text-align: center"
              >
                Having issues with your product?
              </td>
              <!-- <td class="detail-value">3103893</td> -->
            </tr>
            <tr
              class="detail-row"
              style="align-items: center; text-align: center"
            >
              <td
                class="detail-label"
                style="color: gray; font-size: 12px; padding: 0px 30px"
              >
                If your product isn’t functioning as expected, please open a
                support ticket and mention your Order ID for quicker resolution.
              </td>
              <!-- <td class="detail-value">example@example.com</td> -->
            </tr>

            <tr class="detail-row">
              <td align="center" style="padding: 10px 0">
                <a
                  href="#"
                  style="
                    display: inline-block;
                    width: 130px;
                    padding: 10px 10px;
                    border-radius: 44px;
                    background: white;
                    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.25) inset,
                      0 2px 4px 0 rgba(0, 0, 0, 0.25) inset;
                    font-weight: bold;
                    text-align: center;
                    text-decoration: none;
                    color: #000;
                    margin-right: 20px;
                  "
                >
                  Open Ticket
                </a>
                <a
                  href="#"
                  style="
                    display: inline-block;
                    width: 130px;
                    padding: 10px 10px;
                    border-radius: 44px;
                    background: white;
                    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.25) inset,
                      0 2px 4px 0 rgba(0, 0, 0, 0.25) inset;
                    font-weight: bold;
                    text-align: center;
                    text-decoration: none;
                    color: #000;
                  "
                >
                  Live Chat
                </a>
              </td>
            </tr>
          </table>

          <table class="footer" width="80%" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
                Copyright 2024. Invader All Rights Reserved.
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
