<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>OTP Code</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, sans-serif;
        background: rgb(37, 37, 37);
        min-height: 100vh;
        padding: 20px;
      }

      .email-container {
        max-width: 600px;
        margin: 0 auto;
        /* background: #151515; */
        background: url("/uploads/images/email-templates-bg.png") no-repeat;
        background-size: cover;
        padding: 50px;
        position: relative;
      }
      img.bg-image-1 {
        position: absolute;
        top: 0;
        right: 0;
      }
      img.bg-image-2 {
        position: absolute;
        left: 0;
        bottom: 0;
      }
      .product-detail-text p {
        color: white !important;
        text-align: center;
        margin-bottom: 20px;
      }
      .header {
        text-align: center;
        margin-bottom: 50px;
      }

      /* .logo {
        color: white !important;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
      } */

      .logo-icon {
        width: 24px;
        height: 24px;
        background: #8b5cf6;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white !important;
        font-size: 12px;
        font-weight: bold;
      }

      .header h1 {
        color: white !important;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 15px;
        margin-top: 10px;
      }

      .header p:nth-last-of-type(2) {
        color: white !important;
        font-size: 16px;
        font-weight: 500;
      }
      .header p:nth-last-of-type(1) {
        color: white !important;
        font-size: 16;
        font-weight: 500;
        margin-top: 10px;
        max-width: 376px;
        margin-left: auto;
        margin-right: auto;
      }

      .order-summary {
        padding: 16px;
        border-radius: 14px;
        border: 1px solid #ffffff1a;
        background: #36363680;

        /* border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        border-right: 1px solid rgba(255, 255, 255, 0.1); */
      }
      .order-summary-heading {
        padding: 24px;
      }

      .order-summary-table {
        border-radius: 20px;
        border: 1px solid #ffffff1a;
        background: #2c2c2c33;
      }

      .summary-title {
        color: white !important;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
      }

      .product-item {
        display: table;
        width: 100%;
        margin-bottom: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }

      .product-item:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }

      .product-image {
        width: 60px;
        height: 60px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        margin-right: 16px;
      }

      .product-image img {
        width: 60px;
        height: 60px;
      }

      .product-name {
        color: white !important;
        font-size: 14px;
        /* font-weight: 600; */
        margin-bottom: 4px;
      }

      .product-subtitle {
        color: rgba(255, 255, 255, 0.6);
        font-size: 14px;
        margin-bottom: 8px;
      }

      .product-total {
        color: white !important;
        font-size: 20px;
        font-weight: 600;
      }

      .order-details {
        /* background: white !important1a;
        backdrop-filter: blur(20px);
        border-radius: 0 0 16px 16px; */
        padding: 20px;
        margin-bottom: 24px;
        /* border-left: 1px solid rgba(255, 255, 255, 0.1);
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
      }

      .detail-row {
        display: table;
        width: 100%;
        /* border-top: 0.42px solid white !important24; */
        /*  border-bottom: 0.3px solid gray !important; */
        /* padding: 15px 0; */
      }

      .detail-label {
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        font-weight: 400;
      }

      .detail-value {
        color: white !important;
        font-size: 16px;
        font-weight: 600;
      }

      .status-badge {
        border-radius: 6px;
        border: 1px solid #71ff58;
        background: linear-gradient(
            0deg,
            rgba(113, 255, 88, 0.1) 0%,
            rgba(113, 255, 88, 0.1) 100%
          ),
          rgba(0, 0, 0, 0.1);
        color: #71ff58;
        padding: 4px 12px;
        font-size: 12px;
        font-weight: 600;
        display: inline-block;
      }

      .total-row .detail-value {
        font-size: 18px;
        font-weight: 700;
      }

      .thank-you-card {
        background: white !important;
        border-radius: 16px;
        padding: 15px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        background-image: url(https://files.tfgsolutions.pk/public/uploads/emails/background.png);
        background-size: contain;
      }

      .referral-code-container {
        display: flex;
        width: 480px;

        justify-content: center;
        gap: 20px;
        align-items: center;
        padding: 16px;
        border-radius: 16px;
        background: url("http://localhost:8080/uploads/images/gradient-image-2.png")
          no-repeat;
        background-size: cover;
      }

      .footer {
        text-align: center;
        color: gray !important;
        font-size: 14px;
        margin: auto;
        margin-top: 50px;
        padding: 20px;
        border-top: 0.42px solid gray !important;
      }
      .logo {
        background-image: url(https://files.tfgsolutions.pk/public/uploads/emails/invader%20shop-03.png);
        width: 120px;
        height: 40px;
        margin: 0 auto;
      }

      @media (max-width: 480px) {
        .email-container {
          max-width: 100%;
          margin: 0;
        }

        .order-summary,
        .order-details,
        .thank-you-card {
          padding: 16px;
        }

        .header h1 {
          font-size: 28px;
        }
      }
    </style>
  </head>
  <body>
    <table class="email-container" width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <!-- <img
            src="https://files.tfgsolutions.pk/public/uploads/emails/el1.png"
            class="bg-image-1"
          />
          <img
            src="https://files.tfgsolutions.pk/public/uploads/emails/el2.png"
            class="bg-image-2"
          /> -->
          <table class="header" width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
                <div class="logo"></div>
                <h1
                  style="
                    font-weight: 600;
                    margin-top: 30px;
                    line-height: 0.9;
                    margin-bottom: 20px;
                    color: #ffffff !important;
                  "
                >
                  Your InvaderShop OTP Code
                </h1>
                <p style="color: white !important; font-weight: 400">
                  Dear <%= username %>,
                </p>
                <p style="color: rgba(172, 172, 172, 0.7); font-size: 12px">
                  Your One-Time Password (OTP) for verifying your InvaderShop
                  account is:
                </p>
              </td>
            </tr>
          </table>

          <div class="referral-code-container">
            <p style="font-size: 40px; font-weight: 600; color: white !important">
              <%= otp %>
            </p>
            <img
              src="/uploads/images/copy-icon.png"
              alt="copy_icon"
              width="20"
              height="20"
              style="
                /* display: block; */
                text-align: center;
                justify-content: center;
                border: 0;
                outline: none;
                text-decoration: none;
              "
            />
          </div>
          <p
            style="
              color: white !important;
              font-weight: 400;
              padding: 20px;
              text-align: center;
            "
          >
            This OTP is valid for 2 minutes. Please do not share this code with
            anyone.
          </p>

          <p
            style="
              color: white !important;
              font-weight: 400;
              font-size: 14px;
              padding: 20px;
              text-align: center;
            "
          >
            If you didn’t request this code, please ignore this email.Thank you
            for being a part of InvaderShop!
          </p>

          <table class="footer" width="80%" cellpadding="0" cellspacing="0">
            <tr>
              <td align="center">
                Copyright 2024. Invader All Rights Reserved.
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
